{% extends 'base.html' %}
{% load static %}
{% block title %} BackUp Reservations {% endblock title %}





{% block content %}


<div class="card">
    <div class="card-header">
      BackUp Reservations
    </div>
    <div class="card-body">
        <table class="table " style="border-collapse: collapse;">
            <thead class="table table-dark table-striped">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Customer</th>
                <th scope="col">Book</th>
                <th scope="col">Date de Reservation</th>
                <th scope="col" colspan="2">Operations</th>
              </tr>
            </thead>
            <tbody class="h6">
                {% for reservation in deleted_reservations %}
              <tr>
                <td style="text-align: center;vertical-align: middle;border: 1px solid #dddddd;" scope="row"><b>{{ forloop.counter }}</b></th>
                <td style="text-align: center; vertical-align: middle;border: 1px solid #dddddd;">{{ reservation.customer.grade }} {{ reservation.customer.full_name }} | {{ reservation.customer.phone_number }}</td>
                <td style="vertical-align: middle;">
                  {% for available_book in reservation.book.all %} 
                  <b>Book Name :</b> {{ available_book.name }} 
                      
                </br> <b>Category Book Name :</b>


                {% for category in available_book.book_category.all %}
                {{ category.name }}
                {% if not forloop.last %}|{% endif %}
            {% endfor %} 

                          
                              {% if not forloop.last %}  {# Check if it's not the last iteration #}
                              <hr style="border: 1px solid black;">
                          {% endif %}
           {% endfor %}
  </td>
  <td style="text-align: center; vertical-align: middle;border: 1px solid #dddddd;">{{ reservation.created_at|date:"d/m/Y H:i:s" }}</td>
  <td style="text-align: center; vertical-align: middle;border: 1px solid #dddddd;"><a href="{% url 'print_deleted_reservation'  reservation.id %}" class="btn btn-success"><i class="fa-solid fa-print fa-sm" style="color: #ffffff;"></i></a></td>
  <td style="text-align: center; vertical-align: middle;border: 1px solid #dddddd;"><a href="{% url 'delete_backup' reservation.id %}" class="btn btn-danger"><i class="fa-solid fa-trash fa-sm" style="color: #ffffff;"></i></a></td>
             
             {% endfor %}
            </tbody>
          </table>
    </div>
  </div>
    
    
   
 


{% endblock content %}